<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">


</head>

<body>

<!-- Start your project here-->
<!--Main Navigation-->

<!--Main Navigation-->

<!--Main layout-->
<main class="text-uppercase animated zoomIn">
    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark indigo">

            <!-- Additional container -->
            <div class="container">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">BSL-W-M</a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Settings</a>
                        </li>

                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">Progress</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Level 1</a>
                                <a class="dropdown-item" href="#">Level 2</a>
                                <a class="dropdown-item" href="#">Level 3</a>
                            </div>
                        </li>

                    </ul>
                    <!-- Links -->

                   <div class = "text-white">Status : You have no tries </div>
                </div>
                <!-- Collapsible content -->

            </div>
            <!-- Additional container -->

        </nav>
        <!--/.Navbar-->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5">

        <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-7 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="http://www.rutherford-robotics.com/BOOK/animated_hand-1.GIF" class="card-img-top" alt="">
                        <div class="mask rgba-white-light"></div>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-5 mb-4">

                    <h2>Level 1 , basic counting with sign language</h2>
                    <hr>
                    <p>Learn , practice and perfect your basic sign language counting skills and let the world remain open </p>
                    <a href="#" class="btn btn-indigo">begin</a>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="https://thumbs.gfycat.com/AjarFaithfulHorseshoebat-small.gif" class="card-img-top"
                                 alt="">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Level 2 , basic communication</h4>
                            <!--Text-->
                            <p class="card-text">Practice and master your basic sign language communication skills , hello , how are you e.t.c </p>
                            <a href="#!" class="btn btn-indigo">Begin</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="https://pbs.twimg.com/media/ECZr-_YXkAYRkUv?format=jpg&name=360x360" class="card-img-top"
                                 alt="image not found">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title"> Level 3 , Basic arithmetic</h4>
                            <!--Text-->
                            <p class="card-text">Become awesome at basic sign language arithmatic by practicing with us</p>
                            <a href="#" class="btn btn-indigo">Begin</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">



                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->

    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small indigo pt-4 mt-4 animated jello">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase animated flip">Details</h5>
                    <p>find out about what you need</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">contact us </h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">afrocoders@gmail.com</a>
                        </li>
                        <li>
                            <a href="#!">0749401871</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">know more</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">about us</a>
                        </li>
                        <li>
                            <a href="#!">about bsl-w-m</a>
                        </li>
                        <li>
                            <a href="#!">meet the team</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright afro-coders:
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</main>
<!--Main layout-->

<!--Footer-->
<footer>

</footer>
<!--Footer-->
<!-- /Start your project here-->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>

</html>